
<!DOCTYPE html>
{% load staticfiles %}

<html>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet" />
        <link href="{% static 'css/icons.css' %}" rel="stylesheet" media="screen" />
        <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
        <link href="{% static 'css/skindefault.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />
        <link href="{% static 'css/social-buttons.css' %}" rel="stylesheet" />
        <script type="text/javascript" src="{% static 'js/jquery-1.9.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/tryit.js' %}"></script>
	<div class="container">
	<div style="float:right">
	<a href='/chefeditor/logout'>Logout</a>
	</div>
	<div class="row">
	<div class="span12">
        <div class="well">
        <center><h1> Chef Editor<h1></center>
        <div style="float:right">
	<a title="View Profile" href="/chefeditor/profile/"><img src="/static/img/temp/profpics/{{request.session.logged_in.profile_pic}}"
                width="50" height="50" class="img-circle" style="width:50px;height:50px;" >
	</a>
        Welcome  {{ request.session.logged_in.name }}!
	</div>
	</div>
	</div>
        <br/><br/><br/><br/><br/>


        <input type="hidden"  value="{{errorMessage}}"/>
        {% if errorMessage %}
        <div class="alert alert-danger">{{errorMessage}}</div>
        {% endif %}

        <div >
	Saved Templates:
	<form action="/chefeditor/modify/" method="post">{% csrf_token %}
        <table>
            <select name=dropdown>
                {% for fiddle in fiddle %}
                <option value="{{fiddle.name}}">{{fiddle.name}}</option>
                {% endfor %}
            </select>
        </table>
        <input class="btn btn-primary"
        style="clear: left; width: 10%; height: 32px; font-size: 13px;"
        type="Submit"
        value="Load Template"
        name="Load Template"
        id="Load Template">
        </button>
	<input class="btn btn-primary"
        style="clear: left; width: 10%; height: 32px; font-size: 13px;"
        type="Submit"
        value="Delete Template"
        name="Delete Template"
        id="Delete Template">
        </button>
	<input class="btn btn-primary"
        style="clear: left; width: 10%; height: 32px; font-size: 13px;"
        type="Submit"
        value="Make Public"
        name="Make Public"
        id="Make Public">
        </button>

        </form>
	{% if public_url %}
	  Public Url:<a href="http://{{public_url}}">{{public_url}}</a>
	{% endif %}
        </div>

        <form action="/chefeditor/save/" method="post" accept-charset="UTF-8">{% csrf_token %}
        <table>
	<tr>
	<td>
	<textarea id="name" style="margin-bottom: 15px;" type="textarea" name="name" size="30" value="{{ name }}" placeholder="Name of the Fiddle">{{ name }}</textarea>
	</td>
	</tr>
	<tr>
	<td>

<br/>
        <textarea id="css"  style="margin-bottom: 15px;width:465px;height:200px;" type="textarea" name="css" size="30" value="{{ css }}" placeholder="CSS">{{ css }}</textarea>
	</td>
	<td style="padding-left:10%;">
		<br/>

        <textarea id="javascript"  style="margin-bottom: 15px;width:465px;height:200px;" type="textarea" name="javascript" size="30" value ="{{ javascript }}" placeholder="Javascript" >{{ javascript }}</textarea>
	</td>
	</tr>
	<br/>
	<tr style="padding-top:10px" colspan="2">
	<td>
		<br/>

        <textarea id="html" style="margin-bottom: 15px;width:220%;height:200px" type="textarea" name="html" size="30" value ="{{  html }}" placeholder="HTML" >{{  html }}</textarea>
	</td>
	</tr>
	</table>
	<br/>
	<input class="btn btn-primary"
        style="clear: left; width: 10%; height: 32px; font-size: 13px;"
        type="Submit"
        value="Save"
        name="Save"
        id="save">
        </button>
        </form>
        <button onClick="onTryItClick()" class="btn btn-primary " style="clear: left; width: 10%; height: 32px; font-size: 13px;">
        TryIt
        </button>
        </body>
        <br/>
        Output:
        <iframe height="100" width="100%" src="about:blank" name="myiframe"
         id="myiframeid"> </iframe>



<html>